name: Deploy in machine

# Al hacer push al main
on:
  push:
    branches:
      - main

jobs:
  deploy:
    # Pide un runner self-hosted que sea Windows
    runs-on: [llm, service, windows]

    steps:
      - name: Show runner info
        run: |
          Write-Host "Runner: $env:RUNNER_NAME"
          Write-Host "Workspace: $env:GITHUB_WORKSPACE"
          whoami
        shell: powershell

      - name: Make deploy script executable
        run: |
          Get-ChildItem .\deploy-llm.ps1
        shell: powershell

      - name: Run deploy
        run: |
          .\deploy-llm.ps1
        shell: powershell
